main {
    font-family: 'Source Code Pro', monospace;
    margin: 0 auto;
    width: 80%;
    margin-top: 10%;
    color: #E5D4ED;
}
body {
    margin: 0;
    background-color: #727072;
}   
h1 {
    font-size: 12rem;
    text-align: center;
    margin: 0;
}
p {
    font-size: 2rem;
}
.mer {
    text-align: center;
}
nav {
    color: #E5D4ED;
    background-color: #131515;
    font-family: 'Inconsolata', monospace;
    display: flex;
    padding: .5rem;
    font-size: 1.5rem;
}
ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 1rem auto;
}
li {
    margin: 0 2rem;
    list-style: none;
}
button {
    background-color: #727072;
    color: #E5D4ED;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;

}
button:focus {outline:0;}

button:hover {
    color: black;
    opacity: 0.8;
    cursor: pointer;
}

h2 {
    font-size: 5rem;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
}
.text {
    padding: 2rem;
    margin: 0 auto;
    display: none;
    background-image: url(smile.png);
    background-size: cover;
}
a {
    color: white;
    text-decoration-line: none;
}
