main {
    font-family: 'Source Code Pro', monospace;
    margin: 0 auto;
    width: 80%;
    margin-top: 10%;
    color: #E5D4ED;
}
body {
    margin: 0;
    background-color: #727072;
}
h1 {
    font-size: 12rem;
    text-align: center;
    margin: 0;
}
p {
    font-size: 2rem;
}
.mer {
    text-align: center;
}
nav {
    color: #E5D4ED;
    background-color: #131515;
    font-family: 'Inconsolata', monospace;
    display: flex;
    padding: .5rem;
    font-size: 1.5rem;
}
ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 1rem auto;
}
li {
    margin: 0 2rem;
    list-style: none;
}
button {
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem;
    background-color: #727072;
    color: #E5D4ED;
    border-radius: 0.8rem;
    margin: 0 auto;
    padding: .5rem;
    border: none;

}
button:focus {outline:0;}

